*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}
body{
     height: 100vh;
     width: 100vw;
     overflow: hidden;
}
.container {
     display: grid;
     grid-template-columns: 1fr 2fr 1fr;
     height: 100%;
}
.left, .right, .center, .screen, .first, .second{
     border: 1px solid black;
}
.center{
     display: flex;
     flex-direction: column;
}
.screen{
     height: 60%;
}
.button{
     background-color: #4caf50;
     height: 40%;
     display: flex;
}
.first, .second{
     width: 50%;
}